<%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

      <ul>
      <% @tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :activity %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :effect %><br>
    <%= f.text_field :effect %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :totolduration %><br>
    <%= f.text_field :totolduration %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.text_area :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
