<style>
th, td {
    padding: 15px;
}
</style>


<h1>Daily Tracker</h1>

<p>*Activity:&nbsp;&nbsp;List the physical activities you participated in.</br>
  *Duration:&nbsp;&nbsp;Record the time you spent engaged in those activities(in hours).</br>
  *Effects:&nbsp;&nbsp;Reflect on how you felt afterwoard(tired, energized or sore?).</br>
  *Weight:&nbsp;&nbsp;Record your end-of-week weight.</br>
  *Totoal Duration:&nbsp;&nbsp;Record the total time your spent engaged in physical activity this week(in hours).</br>
  *Progress:&nbsp;&nbsp;Evaluate how close you are to achieving your goals.</br></p>

<table>
  <thead>
    <tr>
      <th>Activity</th>
      <th>Duration</th>
      <th>Effect</th>
      <th>Weight</th>
      <th>Totol duration</th>
      <th>Progress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.activity %></td>
        <td><%= tracker.duration %></td>
        <td><%= tracker.effect %></td>
        <td><%= tracker.weight %></td>
        <td><%= tracker.totolduration %></td>
        <td><%= tracker.progress %></td>
        <td><%= link_to 'Show', tracker %></td>
        <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
        <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Tracker', new_tracker_path %>